{% extends "base.html"%} {% block title %}Search{% endblock %}

{% block content %}
<form action="{{url_for('views.date_result')}}" method="POST">
    <input type="hidden" name="form_type" value="single">
    <h3 align="center">Search for customer information on a single date</h3>
    <div class="form-group">
        <label for="customer_id1">Customer ID</label>
        <input type="text" class="form-control" name="customer_id1" id="customer_id1" placeholder="Enter customer ID">
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="text" class="form-control" name="date" id="date" placeholder="Enter date">
    </div>
    <br/>
    <button type="submit" id="button1" class="btn btn-primary">Submit</button>
</form> 
<br/>
<form action="{{url_for('views.date_range_result')}}" method="POST">
    <input type="hidden" name="form_type" value="range">
    <h3 align="center">Search for customer information on a date range</h3>
    <div class="form-group">
        <label for="customer_id2">Customer ID</label>
        <input type="text" class="form-control" name="customer_id2" id="customer_id2" placeholder="Enter customer ID">
    </div>
    <div class="form-group">
        <label for="date1">From date</label>
        <input type="text" class="form-control" name="date1" id="date1" placeholder="Enter starting date">
    </div>
    <div class="form-group">
        <label for="date2">To date</label>
        <input type="text" class="form-control" name="date2" id="date2" placeholder="Enter ending date">
    </div>
    <br/>
    <button type="submit" id="button2" class="btn btn-primary">Submit</button>
</form> 
<br/>
<form action="{{url_for('views.customer_result')}}" method="POST">
    <input type="hidden" name="form_type" value="range">
    <h3 align="center">Search for customer information of a specific group</h3>
    <div class="form-group">
        <label for="city_label">City</label>
        <input type="text" class="form-control" name="city_label" id="city_label" placeholder="Enter city name">
    </div>
    <div class="form-group">
        <label for="constellation_label">Constellation</label>
        <input type="text" class="form-control" name="constellation_label" id="constellation_label" placeholder="Enter consteallation">
    </div>
    <div class="form-group">
        <label for="sex">Sex</label>
        <input type="text" class="form-control" name="sex" id="sex" placeholder="Enter sex">
    </div>
    <br/>
    <button type="submit" id="button3" class="btn btn-primary">Submit</button>
</form> 
{% endblock %}

